
@{
    ViewBag.Title = "React";
}

<h2>React</h2>



@section Scripts {
     
    <script src="~/Scripts/react/react-0.13.1.js"></script>
    <script src="~/Scripts/react/JSXTransformer-0.13.1.js"></script>
}